
          .icon-group{
            background: url("../images/sprite.png") no-repeat;
            background-size:86px auto;
            background-position:-30.5px -30.5px;
            width:25px;
            height:16px;                        
          }
          
          .icon-group_2{
            background: url("../images/sprite.png") no-repeat;
            background-size:86px auto;
            background-position:0px 0px;
            width:28px;
            height:28px;                        
          }
          
          .icon-group_4{
            background: url("../images/sprite.png") no-repeat;
            background-size:86px auto;
            background-position:-30.5px 0px;
            width:28px;
            height:28px;                        
          }
          
          .icon-group_5{
            background: url("../images/sprite.png") no-repeat;
            background-size:86px auto;
            background-position:0px -30.5px;
            width:28px;
            height:28px;                        
          }
          
          .icon-group_copy{
            background: url("../images/sprite.png") no-repeat;
            background-size:86px auto;
            background-position:-61px 0px;
            width:25px;
            height:16px;                        
          }
          